/* здесь используйте глобальные переменные */
$bg-color-green: #68b738;


$oswald-font: "Oswald", "Arial", sans-serif;
$lato-font: "Lato", "Arial", sans-serif;


$tablet-width: 768px;
$desktop-width: 1300px;
