.additional-products {
  padding: 0 20px;
}

.additional-products__heading {
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 49px;
  margin-top: 50px;
}

.additional-products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additional-products__offer {
  width: 100%;
  max-width: 1920px;
  background-image: url("../../images/bg-cat-house-mobile@2x.png");
  background-size: 280px auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #62a53a;
  margin: 0 auto;
  margin-top: 54px;
}

.additional-products__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  text-align: center;
  padding-top: 187px;
  padding-bottom: 43px;
  position: relative;
}

.additional-products__text::before {
  background-image: url("../../icons/stack.svg#icon-gift");
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  top: 58px;
  left: 50%;
  margin-left: -39px;
}
