.additional-card__heading {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
}

.additional-card__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional-card__item {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-card__button {
  padding: 10px 109px;
}
