.catalog-container {
  width: 100%;
  margin: 0 auto;
}

.catalog-container__heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 27px 0 41px 20px;
}
