.main-products {
  padding: 0 20px;
}

.main-products__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-products__item {
  border-top: 1px solid #ebebeb;
}
