.main-nav__toggle {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
}

.main-nav__toggle-line,
.main-nav__toggle::before,
.main-nav__toggle::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000000;
}

.main-nav__toggle::before {
  top: 1px;
  left: 0;
}

.main-nav__toggle::after {
  top: 8px;
  left: 0;
}

.main-nav__toggle-line {
  top: 16px;
  left: 0;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.main-nav__link {
  font-family: $oswald-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
