.main-products {
  padding: 0 20px;
}

.main-products__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-products__item {
  border-bottom: 1px solid #ebebeb;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 20px 25px;
}
