.page__body--index::before {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    background-image: url("../../images/cat-bg-desktop-index@1x.png");
    width: 50%;
    height: 694px;
    object-fit: contain;
    z-index: 5;
    left: 50%;
  }
}
